body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    background-color: #f7903d;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

header button {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

#history-list {
    margin-top: 15px;
    max-height: 400px;
    overflow-y: auto;
}

.history-item {
    background: #f7903d;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.history-icon {
    font-size: 20px;
    margin-right: 10px;
}

.history-text {
    font-size: 14px;
}

#clear-history {
    background: #FF5733;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%;
}
